extends ./layout/index.pug
block compartircontenido 
  .container-fluid.p-4.superposicion
    .container-fluid.d-flex.row.justify-content-center
      h2.fs-4.p-0.text-center.mb-3 Añadir Nueva Habitacion
      .container-fluid.d-flex.row.justify-content-center
        if(errores)
          each error in errores 
            .row.justify-content-center
              .alert.alert-dismissible.alert-primary.col-5
                button.btn-close(type='button' data-bs-dismiss='alert')
                strong=error.mensaje
        form.col-5.fondoNaranjaPastel.p-3.rounded(action='/hoteles/habitaciones/create?id='+id method="POST")
          .form-group.mb-3
              label(for="nombre") Nombre 
              input(type="text",placeholder="Ingresa Nombre", name="nombre",class="form-control")
          .form-group.mb-3
              label(for="piso") Ingrese el piso 
              input(type="text",placeholder="Piso", name="piso",class="form-control")
          .form-check.mb-3 
            input#flexCheckChecked.form-check-input(type='checkbox', name='refrigerador')
            label.form-check-label(for='flexCheckChecked') Refrigerador 
          input.btn.btn-success.btn-block(type="submit", value='Guardar')