extends ./layout/index.pug
block compartircontenido 
  .container-fluid.p-4
    .container-fluid
      h2.fs-4.p-0.text-center.mb-3 Modificar Habitacion
      .container-fluid.d-flex.justify-content-center
        form.col-5.bg-secondary.p-3.rounded(action="/" method="POST")
          .form-group.mb-3
              label(for="nombre") Nombre 
              input(type="text",placeholder="Ingresa Nombre", name="nombre",class="form-control")
          .form-group.mb-3
              label(for="nombre_hotel") Nombre del Hotel
              select(placeholder="Ingresa el nombre del hotel", name="nombre_hotel",class="form-control")
                option(value='value1' select='') Hotel 1
                option(value='value2' ) Hotel 2
                option(value='value3') Hotel 3
          input.btn.btn-info.btn-block(type="submit", value='Añadir nuevo hotel')
          .form-group.mb-3
              label(for="piso") Ingrese el piso 
              input(type="text",placeholder="Piso", name="piso",class="form-control")
          .form-group.mb-3
              p Ingrese si hay refrigerador
              label(for='mat') Si
              input.m-3#mat(type='radio')
              label(for='mat') No
              input.m-3#mat(type='radio')  
          input.btn.btn-success.btn-block(type="submit", value='Aplicar Cambios')