extends ./layout/index.pug
block compartircontenido 
  .container-fluid.d-flex.row.justify-content-center.pt-5 
    img.imagenInicio(src='/img/que_hacer_semana_santa_zacatlan_puebla.jpg')
    .container-fluid.px-5.pt-5.fs-4 
      p Lorem ipsum dolor, sit amet consectetur adipisicing elit. Nesciunt id autem consequuntur suscipit aperiam, quam debitis. Assumenda modi aspernatur accusantium delectus aliquam sit placeat amet! Nostrum, eum! At, vitae itaque!