.imagenInicio{
  width: 500px;
  border-radius: 5%;
}

.quitarwidth{
  width: 15%;
}

.quitar-decoration{
  text-decoration: none;
  color: black;
}

.quitar-decoration:hover{
  text-decoration: none;
  color: black;
}

.colorBlanco{
  color: white;
}