body{
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.imagen {
  width: 160px;
  border-radius: 10px;
}

.textoNegro {
  color: black;
}

.fondoRojoPastel {
  background-color: #F29D9A;
}

.fondoAzulPastel {
  background-color: #7A9BBC;
}

.fondoAmarilloPastel {
  background-color: #F8EE71;
}

.fondoVerdePastel {
  background-color: #6FCD8A;
}

.fondoNaranjaPastel {
  background-color: #F8A859;
}

.imagenFondo {
  /*background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('/img/zacatlan.png');*/
  background-color: #FFFEB6;
  
  background-size: cover;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100%;
  
}

.imagenFondo1 {
  background: linear-gradient(rgba(255, 255, 255, 0.05), rgba(255, 255, 255, 0.05)), url('/img/zacatlan.png');
  background-color: #FFFEB6;
  
  background-size: cover;
  opacity: 0.6;
  position: fixed;
  width: 100%;
  height: 100%;
  
}

.imagenChose {
  border: none;
}

.superposicion {
  position: relative;
  z-index: 1;
}

.imagenInicio{
  width: 500px;
  border-radius: 5%;
}

.quitarwidth{
  width: 15%;
}

.quitar-decoration{
  text-decoration: none;
  color: black;
}

.quitar-decoration:hover{
  text-decoration: none;
  color: black;
}

.colorBlanco{
  color: white;
}

.fondoBlanco {
  background-color: white;
}

.altoDinamico {
  min-height: 100%;
}

.tamanioMaxico {
  max-width: 50%;
}

.file-select {
  position: relative;
  display: inline-block;
}

.file-select::before {
  background-color: #28b44c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 3px;
  content: 'Seleccionar'; /* testo por defecto */
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.file-select input[type="file"] {
  opacity: 0;
  width: 200px;
  height: 32px;
  display: inline-block;
}

#src-file1::before {
  content: 'Seleccionar Imagen';
}

#src-file2::before {
  content: 'Seleccionar Imagenes';
}

.centrar{
  text-align: center;
}

.imagenHotel{
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #6FCD8A;
  background-position: center;
  height: 250px;
}

.imagenHotel1{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 250px;
}

.imagenHotel2{
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
  height: 250px;
}

.stars {
  overflow: hidden;
  height: 100%;
}

.stars li {
  position: fixed;
  list-style: none;
  animation: animate 25s linear infinite;
  bottom: 0;
  overflow: hidden;
}

.stars li:nth-child(1) {
  left: 9%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.stars li:nth-child(2) {
  left: 18%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.stars li:nth-child(3) {
  left: 27%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 6s;
}

.stars li:nth-child(4) {
  left: 36%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.stars li:nth-child(5) {
  left: 45%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 8s;
}

.stars li:nth-child(6) {
  left: 54%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.stars li:nth-child(7) {
  left: 63%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 4s;
}

.stars li:nth-child(8) {
  left: 72%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 10s;
}

.stars li:nth-child(9) {
  left: 81%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 12s;
}

.stars li:nth-child(10) {
  left: 90%;
  width: 64px; height: 64px;
  animation-delay: 0s;
  animation-duration: 5s;
}

@keyframes animate {
  0% {
      transform: translateY(-1000px) rotate(720deg);
      opacity: 0.3;
      background-image: url(/img/manzana.png);
      background-repeat: no-repeat;
  }
  100% {
      transform: translateY(0) rotate(0deg);
      opacity: 0.3;
      background-image: url(/img/manzana.png);
      background-repeat: no-repeat;
  }
}