nav.navbar.navbar-dark.bg-primary
  .container-fluid.d-flex.flex-row.p-0
    .d-flex.col-6
      a.navbar-brand.d-flex.column.align-items-center(href='/')
        img(src='/img/hotel.png', alt="").mx-2
        h1.fs-2 Hoteles Zacatlán de las manzanas
    if user 
      .d-flex.col-4.px-1.text-white.align-items-center.text-center.justify-content-start
        a.dropdown-item.fs-4.fw-bold(href='/gerentes') Gerentes
        a.dropdown-item.fs-4.fw-bold(href='/hoteles') Hoteles 
        a.dropdown-item.fs-4.fw-bold(href='/habitaciones') Habitaciones 
      .d-flex.col-2.text-white.align-items-center.ps-5
        .dropdown
          a#navbarDarkDropdownMenuLink.nav-link.dropdown-toggle.fs-4(href='#' role='button' data-bs-toggle='dropdown' aria-expanded='false')=user
          ul.dropdown-menu.dropdown-menu-dark(aria-labelledby='navbarDarkDropdownMenuLink')
            li.text-center
              a.dropdown-item.fw-bold.p-0(href="/cerrarsesion") Cerrar Sesion
